<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <div class="about-top">
    <h1>BIOGRAFIE ZU CRISTIANO RONALDO</h1>
    <h2>
        Cristiano Ronaldo [kɾiʃti'ɐnu ʁuˈnaɫðu] (* 5. Februar 1985 in Funchal, Madeira; voller Name Cristiano Ronaldo dos Santos Aveiro[A 1]) ist ein portugiesischer Fußballspieler, der seit Ende August 2021 zum zweiten Mal in seiner Karriere bei Manchester United unter Vertrag steht. Er hält den Weltrekord für die meisten Länderspieltore und ist Kapitän sowie Rekordspieler der portugiesischen Nationalmannschaft, mit der er die Europameisterschaft 2016 gewann.

In der Jugendakademie von Sporting Lissabon ausgebildet, wurde Cristiano Ronaldo mit 18 Jahren von Manchester United unter Vertrag genommen und entwickelte sich dort zu einem Weltklassefußballer. Zu Beginn seiner Karriere im rechten Mittelfeld eingesetzt, wechselte er später auf den linken Flügel und gewann mit Manchester United unter anderem drei nationale Meisterschaften in Folge sowie 2008 die Champions League.

Nach seinem Transfer zu Real Madrid, dem seinerzeit teuersten der Fußballgeschichte, erzielte er in über 400 Pflichtspielen im Schnitt mehr als ein Tor pro Spiel. Seit 2015 ist er Rekordtorschütze von Real Madrid. 2014, 2016, 2017 und 2018 errang er mit den Madrilenen vier weitere Champions-League-Titel. Er ist der erste Spieler der Champions-League-Ära, dem fünf Titelgewinne gelangen.

Ab 2018 spielte Ronaldo bei Juventus Turin und wurde mit der Alten Dame u. a. 2019 sowie 2020 italienischer Meister. Ende August 2021 kehrte er im Alter von 36 Jahren zu Manchester United zurück.

Ronaldo wurde 2008, 2013, 2014, 2016 und 2017 von France Football mit dem Ballon d’Or als „Weltfußballer des Jahres“ ausgezeichnet. In denselben Jahren wurde er auch FIFA-Weltfußballer des Jahres (2010 bis 2015 gemeinsame Auszeichnung mit dem FIFA Ballon d’Or). Zudem wurde Ronaldo dreimal UEFA-Spieler des Jahres („Europas Fußballer des Jahres“).

Ronaldo ist der einzige Fußballer, der in England, Spanien und Italien Meisterschaften gewann, als Fußballer des Jahres ausgezeichnet und Torschützenkönig wurde. Er erhielt viermal den Goldenen Schuh als bester Torschütze Europas und wurde mehrmals Torschützenkönig verschiedener Vereinswettbewerbe.</h2>
    </div>


    
</body>
</html>